:root {
  --secondary: #bb8bb0;
  --background: #f4f0f0;
  --cards: #ffffff;
  --foreground: #000000;
  --foreground-alt: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 1rem;
  padding: 0.5rem;
  width: 50vw;
  min-height: 95vh;
  background-color: var(--background);
}

header {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cards);
}

nav {
  display: flex;
  jutify-content: space-around;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.3rem;
  background-color: var(--cards);
}

.nav-items {
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--secondary);
  color: var(--foreground-alt);
}

.new-book-btn,
.add-category-btn,
.add-expense-btn {
  background-color: var(--secondary);
  border: none;
  color: var(--foreground-alt);
  padding: 0.5rem;
  margin: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 7rem;
}

.add-expense-btn {
  width: 5rem;
}

.expense-form {
  background-color: var(--cards);
  margin: 0.5rem 0.5rem;
}
.expense-amount-input,
.expense-desc-input {
  margin: 0.5rem;
  width: 12rem;
}

.expense-amount-input {
  width: 5rem;
}

.expense-amount-label,
.expense-desc-label {
  padding: 0.5rem;
}

.expenses {
  min-height: 100%;
}

.budget-section-forms {
  display: grid;
  grid-template:
    "addbudget summary" 1fr
    "setsavings summary" 1fr / 1fr 1fr;
  grid-gap: 0.5rem;
}

.add-budget-form {
  grid-area: addbudget;
}
.set-savings-form {
  grid-area: setsavings;
}
.budget-summary-form {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.george {
  background-color: blue;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100%;
}
